      <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>{{_i}}Bootstrap的Javascript{{/i}}</h1>
        <p class="lead">{{_i}}Bootstrap的UI组件瞬间就亮了&mdash;现在拥有12款定制的<a href="http://jquery.com/" target="_blank">jQuery</a>插件。{{/i}}
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#javascript">{{_i}}所有插件{{/i}}</a></li>
            <li><a href="#modals">{{_i}}Modal{{/i}}</a></li>
            <li><a href="#dropdowns">{{_i}}Dropdown{{/i}}</a></li>
            <li><a href="#scrollspy">{{_i}}Scrollspy滚动监视插件{{/i}}</a></li>
            <li><a href="#tabs">{{_i}}Tab{{/i}}</a></li>
            <li><a href="#tooltips">{{_i}}Tooltip{{/i}}</a></li>
            <li><a href="#popovers">{{_i}}Popover{{/i}}</a></li>
            <li><a href="#alerts">{{_i}}Alert{{/i}}</a></li>
            <li><a href="#buttons">{{_i}}Button{{/i}}</a></li>
            <li><a href="#collapse">{{_i}}Collapse折叠效果{{/i}}</a></li>
            <li><a href="#carousel">{{_i}}Carousel{{/i}}</a></li>
            <li><a href="#typeahead">{{_i}}Typeahead自动补全效果{{/i}}</a></li>
          </ul>
        </div>
      </header>


      <!-- Using Javascript w/ Bootstrap
      ================================================== -->
      <section id="javascript">
        <div class="page-header">
          <h1>{{_i}}jQuery插件{{/i}} <small>{{_i}}十二款Bootstrap插件帮助你快速入门{{/i}}</small></h1>
        </div>
      <div class="row">
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#modals">{{_i}}Modals模态对话框{{/i}}</a></h3>
            <p>{{_i}}这是一个基于传统javascript模态对话框的插件，已经被打造成现代化的、灵活的、只需要一点点必备功能配置以及智能化默认值处理的插件。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#dropdowns">{{_i}}Dropdowns下拉菜单{{/i}}</a></h3>
            <p>{{_i}}这个一个简单的插件，使用她你可以给Bootstrap里几乎任何东西都加上下拉菜单。Bootstrap对于导航、标签切换和pills的全下拉菜单的支持尤为特出。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#scrollspy">{{_i}}Scrollspy滚动监视插件{{/i}}</a></h3>
            <p>{{_i}}使用scrollspy可以自动根据当前滚动的位置来更新导航中的链接，并高亮显示当前对应的链接。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#tabs">{{_i}}Togglable tabs标签切换{{/i}}</a></h3>
            <p>{{_i}}使用这个插件可以使得标签和pills更加有用，可以在多个可以切换的内容区域之间进行切换。{{/i}}</p>
          </label>
        </div>
      </div> <!-- /row -->
      <div class="row">
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#tooltips">{{_i}}Tooltips便签提示{{/i}}</a></h3>
            <p>{{_i}}jQuery Tipsy插件的新风格, 便签不依赖于任何图片&mdash;而是使用CSS3的动画效果以及data-attributes来保存title信息。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#popovers">{{_i}}Popovers悬浮提示{{/i}}</a> <small class="muted">*</small></h3>
            <p>{{_i}}在那些拥有说明信息的元素上面添加一个小的悬浮层进行提示，就像iPad上面的效果一样。{{/i}}</p>
            <p class="muted"><strong>*</strong> {{_i}}需要加载<a href="#tooltips">Tooltips</a>插件{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#alerts">{{_i}}Alert提示信息{{/i}}</a></h3>
            <p>{{_i}}Alert插件是一个给alerts提示信息增加关闭功能的小插件。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#buttons">{{_i}}Buttons按钮{{/i}}</a></h3>
            <p>{{_i}}比普通的按钮更强大。可以控制按钮的状态，或者创建一组按钮用来创建类似工具栏的UI组件。{{/i}}</p>
          </label>
        </div>
      </div> <!-- /row -->
      <div class="row" style="margin-bottom: 9px;">
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#collapse">{{_i}}Collapse折叠效果{{/i}}</a></h3>
            <p>{{_i}}用来创建基本的折叠样式，并可灵活的设置各种如手风琴、导航等折叠组件效果。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#carousel">{{_i}}Carousel旋转木马效果{{/i}}</a></h3>
            <p>{{_i}}创建任何你打算作为幻灯片内容的循环内容效果。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3><a href="./javascript.html#typeahead">{{_i}}Typeahead自动补全效果{{/i}}</a></h3>
            <p>{{_i}}这是一个可以使用任何表单元素快速创建优雅的自动补全效果的插件，插件使用很简单，也很容易扩展。{{/i}}</p>
          </label>
        </div>
        <div class="span3">
          <label>
            <h3>{{_i}}Transitions过渡效果{{/i}} <small class="muted">*</small></h3>
            <p>{{_i}}对于一些简单的过渡效果，可以包含bootstrap-transition.js文件来实现modal模态对话框的slide效果，或者提示信息的淡出效果等。{{/i}}</p>
            <p class="muted"><strong>*</strong> {{_i}}插件的动画效果需要加载该文件{{/i}}</p>
          </label>
        </div>
      </div> <!-- /row -->
      <div class="alert alert-info"><strong>{{_i}}注意！{{/i}}</strong> {{_i}}所有的javascript插件都需要jQuery的最新版本。{{/i}}</div>
    </section>



    <!-- Modal
    ================================================== -->
    <section id="modals">
      <div class="page-header">
        <h1>{{_i}}Modals模态对话框{{/i}} <small>bootstrap-modal.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于Modals{{/i}}</h3>
          <p>{{_i}}这是一个基于传统javascript模态对话框的插件，已经被打造成现代化的、灵活的、只需要一点点必备功能配置以及智能化默认值处理的插件。{{/i}}</p>
          <a href="assets/js/bootstrap-modal.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}静态示例{{/i}}</h2>
          <p>{{_i}}下面是一个静态渲染后的模态对话框。{{/i}}</p>
          <div class="well modal-example" style="background-color: #888; border: none;">
            <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
              <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>{{_i}}对话框header{{/i}}</h3>
              </div>
              <div class="modal-body">
                <p>{{_i}}这是主体内容body…{{/i}}</p>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn">{{_i}}关闭{{/i}}</a>
                <a href="#" class="btn btn-primary">{{_i}}保存更改{{/i}}</a>
              </div>
            </div>
          </div> <!-- /well -->

          <h2>{{_i}}实例演示{{/i}}</h2>
          <p>{{_i}}点击下面的按钮来触发一个modal对话框。对话框会从页面顶部滑下，淡入到屏幕中央。{{/i}}</p>
          <!-- sample modal content -->
          <div id="myModal" class="modal hide fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal" >&times;</a>
              <h3>{{_i}}对话框Heading{{/i}}</h3>
            </div>
            <div class="modal-body">
              <h4>{{_i}}对话框中的文本{{/i}}</h4>
              <p>一个美国人憋尿憋急了，结果他变成了什么？答：姜国人。</p>

              <h4>{{_i}}对话框中的Popover悬浮提示{{/i}}</h4>
              <p>{{_i}}这个<a href="#" class="btn popover-test" title="标题" data-content="这里是一些可以自己使用data-content属性定义的内容，是不是非常帅？">按钮</a>悬浮时应该触发一个Popover悬浮提示。{{/i}}</p>

              <h4>{{_i}}对话框中的Tooltips便签提示{{/i}}</h4>
              <p>{{_i}}<a href="#" class="tooltip-test" title="他是便签二">这个链接</a>和<a href="#" class="tooltip-test" title="你才是便签二">这个链接</a>悬浮时应该有tooltips便签提示。{{/i}}</p>

              <hr>

              <h4>{{_i}}超长的文本可以选择是否显示滚动条{{/i}}</h4>
              <p>{{_i}}我们在<code>.modal-body</code>上设置了一个固定的<code>max-height</code>。你可以查看下面我们包含的这个超长的文本内容。{{/i}}</p>
              <p>{{_i}}他散尽万贯家财，终于获得了一次穿越的机会，他回到了1998年，找到了那个犹豫不决，手握50万现金的青年，告诉他：“买房子吧，10年后，房价会翻好几个跟头的。”那个人说：“真的的太谢谢你了！请问你贵姓？你认识我吗？”他诡异的一笑：“我当然认识你，化腾。我叫周鸿祎。”{{/i}}</p>
              <p>{{_i}}学士上面是硕士，硕士上面是博士，博士上面是博士后，那博士后上面呢？如果你够勇敢再读两年你就是勇士，再读5年是壮士，再读7年是烈士，那烈士后面呢？教育部会推出圣斗士，读满2年是青铜的，5年是白银的，7年是黄金的，毕业后在读的女生可以考出一个雅典娜！！！{{/i}}</p>
              <p>{{_i}}有四个人打麻将，突然，着火了，他们却打得很专心，都没有注意到这时 ，消防员赶到了，他冲里面大喊道：里面有多少人？这时，刚好有一个人出牌：四万！消防员又问：死了多少人？这时，又有一个人出牌：两万！消防员大惊，慌忙问道：剩下的人呢？只听哗啦一声，紧接着，传了一声尖叫：糊了。。。{{/i}}</p>
              <p>{{_i}}茶-禅-道: 山上庙里有尊雕刻精美的佛像，前来拜佛的人络绎不绝。铺在山路上的石阶开始抱怨：“大家同是石头，凭什么我被人蹬来踩去，你却被人供在殿堂？” 佛像笑了笑：“当年，您只挨六刀，做了一方石阶，而我经历了千刀万凿之后，才有了现在的形状！” 「今天的坎坷，都是为自己的未来塑造着形象。」{{/i}}</p>
              <p>{{_i}}写程序和动手术类似，医生给你开刀后，你都不允许在你体内遗留纱布或刀具。那为啥你写的程序你就能接受 notice 或 warning ？是因为不死人么？你写的程序要是你父母或者你自己的心脏起搏器的控制程序，你还能如此大意？{{/i}}</p>
              <p>{{_i}}药！！药！！切客闹！！！卡姆昂北鼻沟！！！动词大慈动动大慈动词大慈动动大慈！！！是谁在唱歌！！！！动词大慈！！！温暖了寂寞！！！动词大慈！！！白云悠悠蓝天依旧！！！（我受不了了，太欢乐了！！！）动动大慈！！！药！！药！！！药！！药药！黑为够！~切克闹切克闹！！！提神吗！！{{/i}}</p>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal" >{{_i}}关闭{{/i}}</a>
              <a href="#" class="btn btn-primary">{{_i}}保存更改{{/i}}</a>
            </div>
          </div>
          <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">{{_i}}启动Modal演示{{/i}}</a>

          <hr>

          <h2>{{_i}}使用bootstrap-modal{{/i}}</h2>
          <p>{{_i}}通过javascript调用modal:{{/i}}</p>
          <pre class="prettyprint linenums">$('#myModal').modal(options)</pre>
          <h3>{{_i}}Options{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}名称{{/i}}</th>
               <th style="width: 50px;">{{_i}}类型{{/i}}</th>
               <th style="width: 50px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}backdrop{{/i}}</td>
               <td>{{_i}}boolean{{/i}}</td>
               <td>{{_i}}true{{/i}}</td>
               <td>{{_i}}加载一个class为modal-backdrop的背景元素。如果指定为<code>static</code>的话，点击背景时不会关闭对话框。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}keyboard{{/i}}</td>
               <td>{{_i}}boolean{{/i}}</td>
               <td>{{_i}}true{{/i}}</td>
               <td>{{_i}}按下Esc键时关闭对话框。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}show{{/i}}</td>
               <td>{{_i}}boolean{{/i}}</td>
               <td>{{_i}}true{{/i}}</td>
               <td>{{_i}}初始化时显示对话框.{{/i}}</td>
             </tr>
            </tbody>
          </table>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}你可以不用写一行javascript代码就能使用modals，只需要在需要绑定的元素上设置<code>data-toggle="modal"</code>，并且设置<code>data-target="#foo"</code>或<code>href="#foo"</code>，其中foo为modal元素的id。这样的话只要点击绑定的元素，就会启动这个modal。{{/i}}</p>
          <p>{{_i}}除此之外，如果想要在modal初始化时添加指定选项，也可以把这些选项设置为绑定元素或者modal元素的data属性即可。{{/i}}</p>
<pre class="prettyprint linenums">
&lt;a class="btn" data-toggle="modal" href="#myModal" &gt;{{_i}}Launch Modal{{/i}}&lt;/a&gt;
</pre>

<pre class="prettyprint linenums">
&lt;div class="modal" id="myModal"&gt;
  &lt;div class="modal-header"&gt;
    &lt;a class="close" data-dismiss="modal"&gt;&times;&lt;/a&gt;
    &lt;h3&gt;Modal header&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class="modal-body"&gt;
    &lt;p&gt;{{_i}}One fine body…{{/i}}&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="modal-footer"&gt;
    &lt;a href="#" class="btn"&gt;{{_i}}Close{{/i}}&lt;/a&gt;
    &lt;a href="#" class="btn btn-primary"&gt;{{_i}}Save changes{{/i}}&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong> {{_i}}如果您想给modal增加动画进出的效果的话，只需要在<code>.modal</code>元素上添加<code>.fade</code> class（效果见上面实例演示中的效果）并且包含bootstrap-transition.js.{{/i}}
          </div>
          <h3{{_i}}>Methods方法{{/i}}</h3>
          <h4>.modal({{_i}}options{{/i}})</h4>
          <p>{{_i}}将内容变成一个modal。可传入参数options <code>object</code>.{{/i}}</p>
<pre class="prettyprint linenums">
$('#myModal').modal({
  keyboard: false
})</pre>
          <h4>.modal('toggle')</h4>
          <p>{{_i}}手动切换modal状态。{{/i}}</p>
          <pre class="prettyprint linenums">$('#myModal').modal('toggle')</pre>
          <h4>.modal('show')</h4>
          <p>{{_i}}手动显示modal。{{/i}}</p>
          <pre class="prettyprint linenums">$('#myModal').modal('show')</pre>
          <h4>.modal('hide')</h4>
          <p>{{_i}}手动隐藏modal。{{/i}}</p>
          <pre class="prettyprint linenums">$('#myModal').modal('hide')</pre>
          <h3>{{_i}}Events事件{{/i}}</h3>
          <p>{{_i}}Bootstrap的modal类公开了一些事件，可以用来在调用modal方法时触发。{{/i}}</p>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 150px;">{{_i}}事件名称{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}show{{/i}}</td>
               <td>{{_i}}这个事件在<code>show</code>方法调用时触发。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}shown{{/i}}</td>
               <td>{{_i}}这个事件当modal显示时触发（在css动画完成后）。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}hide{{/i}}</td>
               <td>{{_i}}这个事件在<code>hide</code>方法调用时触发。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}hidden{{/i}}</td>
               <td>{{_i}}这个事件在modal被隐藏后触发。（在css动画完成后）。{{/i}}</td>
             </tr>
            </tbody>
          </table>

<pre class="prettyprint linenums">
$('#myModal').on('hidden', function () {
  // {{_i}}do something…{{/i}}
})</pre>
        </div>
      </div>
    </section>



    <!-- Dropdown
    ================================================== -->
    <section id="dropdowns">
      <div class="page-header">
        <h1>{{_i}}Dropdowns下拉菜单{{/i}} <small>bootstrap-dropdown.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于Dropdowns{{/i}}</h3>
          <p>{{_i}}这个一个简单的插件，使用她你可以给Bootstrap里几乎任何东西都加上下拉菜单。Bootstrap对于导航、标签切换和pills的全下拉菜单的支持尤为特出。{{/i}}</p>
          <a href="assets/js/bootstrap-dropdown.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}示例{{/i}}</h2>
          <p>{{_i}}点击下面的导航和pills上的下拉链接来测试下拉菜单的效果。{{/i}}</p>
          <div id="navbar-example" class="navbar navbar-static">
            <div class="navbar-inner">
              <div class="container" style="width: auto;">
                <a class="brand" href="#">{{_i}}Project Name{{/i}}</a>
                <ul class="nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">{{_i}}Action{{/i}}</a></li>
                      <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                      <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                      <li class="divider"></li>
                      <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_i}}Dropdown 2 {{/i}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">{{_i}}Action{{/i}}</a></li>
                      <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                      <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                      <li class="divider"></li>
                      <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
                    </ul>
                  </li>
                </ul>
                <ul class="nav pull-right">
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_i}}Dropdown 3{{/i}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">{{_i}}Action{{/i}}</a></li>
                      <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                      <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                      <li class="divider"></li>
                      <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div> <!-- /navbar-example -->

          <ul class="nav nav-pills">
            <li class="active"><a href="#">{{_i}}Regular link{{/i}}</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
              <ul id="menu1" class="dropdown-menu">
                <li><a href="#">{{_i}}Action{{/i}}</a></li>
                <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                <li class="divider"></li>
                <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Dropdown 2{{/i}} <b class="caret"></b></a>
              <ul id="menu2" class="dropdown-menu">
                <li><a href="#">{{_i}}Action{{/i}}</a></li>
                <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                <li class="divider"></li>
                <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{_i}}Dropdown 3{{/i}} <b class="caret"></b></a>
              <ul id="menu3" class="dropdown-menu">
                <li><a href="#">{{_i}}Action{{/i}}</a></li>
                <li><a href="#">{{_i}}Another action{{/i}}</a></li>
                <li><a href="#">{{_i}}Something else here{{/i}}</a></li>
                <li class="divider"></li>
                <li><a href="#">{{_i}}Separated link{{/i}}</a></li>
              </ul>
            </li>
          </ul> <!-- /tabs -->

          <hr>

          <h2>{{_i}}使用{{/i}} bootstrap-dropdown.js</h2>
          <p>{{_i}}通过javascript调用dropdowns:{{/i}}</p>
          <pre class="prettyprint linenums">$('.dropdown-toggle').dropdown()</pre>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}可以快速的在任何元素上添加<code>data-toggle="dropdown"</code>属性，就可以自动启用bootstrap的下拉菜单。{{/i}}</p>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>{{_i}}你可以设置指定的下拉菜单的菜单元素，使用<code>data-target="#fat"</code> or <code>href="#fat"</code>.{{/i}}
          </div>

<pre class="prettyprint linenums">
&lt;ul class="nav nav-pills"&gt;
  &lt;li class="active"&gt;&lt;a href="#"&gt;Regular link&lt;/a&gt;&lt;/li&gt;
  &lt;li class="dropdown" id="menu1"&gt;
    &lt;a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"&gt;
      {{_i}}Dropdown{{/i}}
      &lt;b class="caret"&gt;&lt;/b&gt;
    &lt;/a&gt;
    &lt;ul class="dropdown-menu"&gt;
      &lt;li&gt;&lt;a href="#"&gt;{{_i}}Action{{/i}}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;{{_i}}Another action{{/i}}&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;{{_i}}Something else here{{/i}}&lt;/a&gt;&lt;/li&gt;
      &lt;li class="divider"&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;{{_i}}Separated link{{/i}}&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  ...
&lt;/ul&gt;</pre>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>$().dropdown()</h4>
          <p>{{_i}}通过api调用此方法来启用指定的导航或者tab标签导航的下拉菜单。{{/i}}</p>
        </div>
      </div>
    </section>



   <!-- ScrollSpy
    ================================================== -->
    <section id="scrollspy">
      <div class="page-header">
        <h1>{{_i}}ScrollSpy滚动监视插件{{/i}} <small>bootstrap-scrollspy.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <p>{{_i}}使用scrollspy可以自动根据当前滚动的位置来更新导航中的链接，并高亮显示当前对应的链接。{{/i}}</p>
          <a href="assets/js/bootstrap-scrollspy.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}使用了scrollspy的导航示例{{/i}}</h2>
          <p>{{_i}}滚动下面的内容区域，注意观察导航的变化。包括下拉菜单的子菜单也会高亮的哦！试试看！{{/i}}</p>
          <div id="navbarExample" class="navbar navbar-static">
            <div class="navbar-inner">
              <div class="container" style="width: auto;">
                <a class="brand" href="#">{{_i}}Project Name{{/i}}</a>
                <ul class="nav">
                  <li><a href="#fat">@fat</a></li>
                  <li><a href="#mdo">@mdo</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#dreamwing">{{_i}}@dreamwing{{/i}}</a></li>
                      <li><a href="#ninghaixin">{{_i}}@ninghaixin{{/i}}</a></li>
                      <li class="divider"></li>
                      <li><a href="#alltosun">{{_i}}@alltosun{{/i}}</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div data-spy="scroll" data-target="#navbarExample" data-offset="0" class="scrollspy-example">
            <h4 id="fat">@fat</h4>
            <p>
            Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
            </p>
            <h4 id="mdo">@mdo</h4>
            <p>
            Veniam marfa mustache skateboard, adipisicing fugiat velit pitchfork beard. Freegan beard aliqua cupidatat mcsweeney's vero. Cupidatat four loko nisi, ea helvetica nulla carles. Tattooed cosby sweater food truck, mcsweeney's quis non freegan vinyl. Lo-fi wes anderson +1 sartorial. Carles non aesthetic exercitation quis gentrify. Brooklyn adipisicing craft beer vice keytar deserunt.
            </p>
            <h4 id="dreamwing">@dreamwing</h4>
            <p>
            Occaecat commodo aliqua delectus. Fap craft beer deserunt skateboard ea. Lomo bicycle rights adipisicing banh mi, velit ea sunt next level locavore single-origin coffee in magna veniam. High life id vinyl, echo park consequat quis aliquip banh mi pitchfork. Vero VHS est adipisicing. Consectetur nisi DIY minim messenger bag. Cred ex in, sustainable delectus consectetur fanny pack iphone.
            </p>
            <h4 id="ninghaixin">@ninghaixin</h4>
            <p>
            In incididunt echo park, officia deserunt mcsweeney's proident master cleanse thundercats sapiente veniam. Excepteur VHS elit, proident shoreditch +1 biodiesel laborum craft beer. Single-origin coffee wayfarers irure four loko, cupidatat terry richardson master cleanse. Assumenda you probably haven't heard of them art party fanny pack, tattooed nulla cardigan tempor ad. Proident wolf nesciunt sartorial keffiyeh eu banh mi sustainable. Elit wolf voluptate, lo-fi ea portland before they sold out four loko. Locavore enim nostrud mlkshk brooklyn nesciunt.
            </p>
            <h4 id="alltosun">@alltosun</h4>
            <p>
            Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.
            </p>
            <p>Keytar twee blog, culpa messenger bag marfa whatever delectus food truck. Sapiente synth id assumenda. Locavore sed helvetica cliche irony, thundercats you probably haven't heard of them consequat hoodie gluten-free lo-fi fap aliquip. Labore elit placeat before they sold out, terry richardson proident brunch nesciunt quis cosby sweater pariatur keffiyeh ut helvetica artisan. Cardigan craft beer seitan readymade velit. VHS chambray laboris tempor veniam. Anim mollit minim commodo ullamco thundercats.
            </p>
            <p>好吧，这最后一段是用来凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...凑数的...的（其实我们公司在招各种攻城师哟亲~当你看到这一行的时候Dropdown的@alltosun才能高亮上TAT）
            </p>
          </div>
          <hr>
          <h2>{{_i}}使用bootstrap-scrollspy.js{{/i}}</h2>
          <p>{{_i}}通过javascript调用scrollspy:{{/i}}</p>
          <pre class="prettyprint linenums">$('#navbar').scrollspy()</pre>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}可以简单的在你的顶部导航上添加scrollspy效果，只需要添加<code>data-spy="scroll"</code>在你需要监视滚动的元素上（通常都是在body上）。{{/i}}</p>
          <pre class="prettyprint linenums">&lt;body data-spy="scroll" &gt;...&lt;/body&gt;</pre>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>
            {{_i}}导航条的链接必须添加了有效的id目标。比如，<code>&lt;a href="#home"&gt;home&lt;/a&gt;</code>必须能在dom中找到对应的元素，比如<code>&lt;div id="home"&gt;&lt;/div&gt;</code>.{{/i}}
          </div>
          <h3>{{_i}}Options{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}名称{{/i}}</th>
               <th style="width: 100px;">{{_i}}类型{{/i}}</th>
               <th style="width: 50px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}offset{{/i}}</td>
               <td>{{_i}}number{{/i}}</td>
               <td>{{_i}}10{{/i}}</td>
               <td>{{_i}}计算滚动位置时，距离顶部的像素。{{/i}}</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>



    <!-- Tabs
    ================================================== -->
    <section id="tabs">
      <div class="page-header">
        <h1>{{_i}}Togglable tabs标签切换{{/i}} <small>bootstrap-tab.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <p>{{_i}}使用这个插件可以使得标签和pills更加有用，可以在多个可以切换的内容区域之间进行切换。{{/i}}</p>
          <a href="assets/js/bootstrap-tab.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}标签示例{{/i}}</h2>
          <p>{{_i}}点击下面的tab切换，来切换隐藏的内容，甚至连下拉菜单也可以点击切换哦！{{/i}}</p>
          <ul id="tab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">{{_i}}Home{{/i}}</a></li>
            <li><a href="#profile" data-toggle="tab">{{_i}}Profile{{/i}}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{_i}}Dropdown{{/i}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
                <li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
              </ul>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="profile">
              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </div>
            <div class="tab-pane fade" id="dropdown1">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
              <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
            </div>
          </div>
          <hr>
          <h2>{{_i}}使用bootstrap-tab.js{{/i}}</h2>
          <p>{{_i}}通过javascript启用tab标签切换:{{/i}}</p>
          <pre class="prettyprint linenums">$('#myTab').tab('show')</pre>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}你可以不用写任何javascript就可以激活任何tab或者pill导航的标签效果，只需要简单的在这个元素上设置属性<code>data-toggle="tab"</code>或者<code>data-toggle="pill"</code>即可。{{/i}}</p>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-tabs"&gt;
  &lt;li&gt;&lt;a href="#home" data-toggle="tab"&gt;{{_i}}Home{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#profile" data-toggle="tab"&gt;{{_i}}Profile{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#messages" data-toggle="tab"&gt;{{_i}}Messages{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#settings" data-toggle="tab"&gt;{{_i}}Settings{{/i}}&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>$().tab</h4>
          <p>
            {{_i}}设置tab标签元素和内容容器，tab标签需要设置`data-target`或者`href`属性指向到对应dom中的内容容器。{{/i}}
          </p>
<pre class="prettyprint linenums">
&lt;ul class="nav nav-tabs"&gt;
  &lt;li class="active"&gt;&lt;a href="#home"&gt;{{_i}}Home{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#profile"&gt;{{_i}}Profile{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#messages"&gt;{{_i}}Messages{{/i}}&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#settings"&gt;{{_i}}Settings{{/i}}&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;div class="tab-content"&gt;
  &lt;div class="tab-pane active" id="home"&gt;...&lt;/div&gt;
  &lt;div class="tab-pane" id="profile"&gt;...&lt;/div&gt;
  &lt;div class="tab-pane" id="messages"&gt;...&lt;/div&gt;
  &lt;div class="tab-pane" id="settings"&gt;...&lt;/div&gt;
&lt;/div&gt;

&lt;script&gt;
  $(function () {
    $('.tabs a:last').tab('show')
  })
&lt;/script&gt;</pre>
          <h3>{{_i}}Events事件{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 150px;">{{_i}}事件名称{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}show{{/i}}</td>
               <td>{{_i}}这个事件在标签显示时，但是在新标签显示前才触发。可以分别使用<code>event.target</code>和<code>event.relatedTarget</code>来获得当前激活的标签和上一个激活的标签（如果存在的话）。{{/i}}</td>
            </tr>
            <tr>
               <td>{{_i}}shown{{/i}}</td>
               <td>{{_i}}这个事件在标签显示后才触发。可以分别使用<code>event.target</code>和<code>event.relatedTarget</code>来获得当前激活的标签和上一个激活的标签（如果存在的话）。{{/i}}</td>
             </tr>
            </tbody>
          </table>

          <pre class="prettyprint linenums">
$('a[data-toggle="tab"]').on('shown', function (e) {
  e.target // activated tab
  e.relatedTarget // previous tab
})</pre>
       </div>
      </div>
    </section>


    <!-- Tooltips
    ================================================== -->
    <section id="tooltips">
      <div class="page-header">
        <h1>{{_i}}Tooltip便签提示{{/i}} <small>bootstrap-tooltip.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于Tooltip{{/i}}</h3>
          <p>{{_i}}受Jason Frame写的优秀插件jQuery.tipsy的影响，Tooltip便签提示插件在此基础上进行了调整，不依赖于任何图片，而是使用CSS3的动画效果以及data-attributes来保存title信息。{{/i}}</p>
          <a href="assets/js/bootstrap-tooltip.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}Tooltips示例{{/i}}</h2>
          <p>{{_i}}鼠标移动到下面的链接上来查看tooltips效果:{{/i}}</p>
          <div class="tooltip-demo well">
            <p class="muted" style="margin-bottom: 0;">{{_i}}Tight pants next level keffiyeh <a href="#" rel="tooltip" title="我是第一个提示，找齐5个提示有奖哟">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" rel="tooltip" title="我是二">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A <a href="#" rel="tooltip" title="我是小三才怪">really ironic</a> artisan whatever keytar, scenester farm-to-table banksy Austin <a href="#" rel="tooltip" title="抱歉，我是最后一个= =|||">twitter handle</a> freegan cred raw denim single-origin coffee viral.{{/i}}
            </p>
          </div>
          <hr>
          <h2>{{_i}}使用{{/i}} bootstrap-tooltip.js</h2>
          <p>{{_i}}通过javascript来触发tooltip:{{/i}}</p>
          <pre class="prettyprint linenums">$('#example').tooltip({{_i}}options{{/i}})</pre>
          <h3>{{_i}}Options{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}名称{{/i}}</th>
               <th style="width: 100px;">{{_i}}类型{{/i}}</th>
               <th style="width: 50px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}animation{{/i}}</td>
               <td>{{_i}}boolean{{/i}}</td>
               <td>true</td>
               <td>{{_i}}给tooltip增加一个css淡入淡出的动画效果{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}placement{{/i}}</td>
               <td>{{_i}}string|function{{/i}}</td>
               <td>'top'</td>
               <td>{{_i}}设置tooltip的位置{{/i}} - top | bottom | left | right</td>
             </tr>
             <tr>
               <td>{{_i}}selector{{/i}}</td>
               <td>{{_i}}string{{/i}}</td>
               <td>false</td>
               <td>{{_i}}如果有设置selector选择器的话, tooltip对象将被委托给选择器指定的这个目标。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}title{{/i}}</td>
               <td>{{_i}}string | function{{/i}}</td>
               <td>''</td>
               <td>{{_i}}如果`title`不存在的话，默认的title值{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}trigger{{/i}}</td>
               <td>{{_i}}string{{/i}}</td>
               <td>'hover'</td>
               <td>{{_i}}设置tooltip的触发方式{{/i}} - hover | focus | manual</td>
             </tr>
             <tr>
               <td>{{_i}}delay{{/i}}</td>
               <td>{{_i}}number | object{{/i}}</td>
               <td>0</td>
               <td>
                <p>{{_i}}延迟显示或隐藏tooltip (ms){{/i}}</p>
                <p>{{_i}}如果设置为number，对于显示和隐藏都有指定的延迟效果{{/i}}</p>
                <p>{{_i}}Object结构为: <code>delay: { show: 500, hide: 100 }</code>{{/i}}</p>
               </td>
             </tr>
            </tbody>
          </table>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>
            {{_i}}每个tooltip的选项也都可以通过data属性来设置。{{/i}}
          </div>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}由于性能问题，Tooltip和Popover的data-apis被设置为可选的。如果你想使用他们，可以初始化时传入selector选项。{{/i}}</p>
<pre class="prettyprint linenums">
&lt;a href="#" rel="tooltip" title="{{_i}}first tooltip{{/i}}"&gt;{{_i}}hover over me{{/i}}&lt;/a&gt;
</pre>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>$().tooltip({{_i}}options{{/i}})</h4>
          <p>{{_i}}绑定一个tooltip到一个元素集上。{{/i}}</p>
          <h4>.tooltip('show')</h4>
          <p>{{_i}}显示一个元素的tooltip。{{/i}}</p>
          <pre class="prettyprint linenums">$('#element').tooltip('show')</pre>
          <h4>.tooltip('hide')</h4>
          <p>{{_i}}隐藏一个元素的tooltip。{{/i}}</p>
          <pre class="prettyprint linenums">$('#element').tooltip('hide')</pre>
          <h4>.tooltip('toggle')</h4>
          <p>{{_i}}切换一个元素的tooltip。{{/i}}</p>
          <pre class="prettyprint linenums">$('#element').tooltip('toggle')</pre>
        </div>
      </div>
    </section>



    <!-- Popovers
    ================================================== -->
    <section id="popovers">
      <div class="page-header">
        <h1>{{_i}}Popovers悬浮提示{{/i}} <small>bootstrap-popover.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于popovers{{/i}}</h3>
          <p>{{_i}}在那些拥有说明信息的元素上面添加一个小的悬浮层进行提示，就像iPad上面的效果一样。{{/i}}</p>
          <p class="muted"><strong>*</strong> {{_i}}需要加载<a href="#tooltips">Tooltip</a>插件{{/i}}</p>
          <a href="assets/js/bootstrap-popover.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}Popover示例{{/i}}</h2>
          <p>{{_i}}鼠标移动到按钮上来触发Popover。{{/i}}</p>
          <div class="well">
            <a href="#" class="btn btn-danger" rel="popover" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">{{_i}}hover for popover{{/i}}</a>
          </div>
          <hr>
          <h2>{{_i}}使用 bootstrap-popover.js{{/i}}</h2>
          <p>{{_i}}通过javascript来启用popovers:{{/i}}</p>
          <pre class="prettyprint linenums">$('#example').popover({{_i}}options{{/i}})</pre>
          <h3>{{_i}}Options{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}名称{{/i}}</th>
               <th style="width: 100px;">{{_i}}类型{{/i}}</th>
               <th style="width: 50px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}animation{{/i}}</td>
               <td>{{_i}}boolean{{/i}}</td>
               <td>true</td>
               <td>{{_i}}给popover增加一个css淡入淡出的动画效果{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}placement{{/i}}</td>
               <td>{{_i}}string|function{{/i}}</td>
               <td>'right'</td>
               <td>{{_i}}设置popover的位置{{/i}} - top | bottom | left | right</td>
             </tr>
             <tr>
               <td>{{_i}}selector{{/i}}</td>
               <td>{{_i}}string{{/i}}</td>
               <td>false</td>
               <td>{{_i}}如果有设置selector选择器的话, popover对象将被委托给选择器指定的这个目标。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}trigger{{/i}}</td>
               <td>{{_i}}string{{/i}}</td>
               <td>'hover'</td>
               <td>{{_i}}设置popover的触发方式{{/i}} - hover | focus | manual</td>
             </tr>
             <tr>
               <td>{{_i}}title{{/i}}</td>
               <td>{{_i}}string | function{{/i}}</td>
               <td>''</td>
               <td>{{_i}}如果`title`不存在的话，默认的title值{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}content{{/i}}</td>
               <td>{{_i}}string | function{{/i}}</td>
               <td>''</td>
               <td>{{_i}}如果`data-content`属性不存在的话，默认的content值{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}delay{{/i}}</td>
               <td>{{_i}}number | object{{/i}}</td>
               <td>0</td>
               <td>
                <p>{{_i}}延迟显示或隐藏popover (ms){{/i}}</p>
                <p>{{_i}}如果设置为number，对于显示和隐藏都有指定的延迟效果{{/i}}</p>
                <p>{{_i}}Object结构为: <code>delay: { show: 500, hide: 100 }</code>{{/i}}</p>
               </td>
             </tr>
            </tbody>
          </table>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>
            {{_i}}每个popover的选项也都可以通过data属性来设置。{{/i}}
          </div>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>
          {{_i}}由于性能问题，Tooltip和Popover的data-apis被设置为可选的。如果你想使用他们，可以初始化时传入selector选项。{{/i}}
          </p>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>$().popover({{_i}}options{{/i}})</h4>
          <p>{{_i}}初始化一个popover到一个元素集上。{{/i}}</p>
          <h4>.popover('show')</h4>
          <p>{{_i}}显示一个元素的popover.{{/i}}</p>
          <pre class="prettyprint linenums">$('#element').popover('show')</pre>
          <h4>.popover('hide')</h4>
          <p>{{_i}}隐藏一个元素的popover.{{/i}}</p>
          <pre class="prettyprint linenums">$('#element').popover('hide')</pre>
          <h4>.popover('toggle')</h4>
          <p>{{_i}}切换一个元素的popover.{{/i}}</p>
          <pre class="prettyprint linenums">$('#element').popover('toggle')</pre>
        </div>
      </div>
    </section>



    <!-- Alert
    ================================================== -->
    <section id="alerts">
      <div class="page-header">
        <h1>{{_i}}Alert提示信息{{/i}} <small>bootstrap-alert.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于alerts{{/i}}</h3>
          <p>{{_i}}Alert插件是一个给alerts提示信息增加关闭功能的小插件。{{/i}}</p>
          <a href="assets/js/bootstrap-alert.js" target="_blank" class="btn">{{_i}}下载{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}Alerts示例{{/i}}</h2>
          <p>{{_i}}Alerts插件可以用来关闭正常的提示信息，或者是区块信息。{{/i}}</p>
          <div class="alert fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong>{{_i}}Holy guacamole!{{/i}}</strong> {{_i}}Best check yo self, you're not looking too good.{{/i}}
          </div>
          <div class="alert alert-block alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h4 class="alert-heading">{{_i}}Oh snap! You got an error!{{/i}}</h4>
            <p>{{_i}}Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.{{/i}}</p>
            <p>
              <a class="btn btn-danger" href="#">{{_i}}Take this action{{/i}}</a> <a class="btn" href="#">{{_i}}Or do this{{/i}}</a>
            </p>
          </div>
          <hr>
          <h2>{{_i}}使用 bootstrap-alert.js{{/i}}</h2>
          <p>{{_i}}通过javascript来启用alert:{{/i}}</p>
          <pre class="prettyprint linenums">$(".alert").alert()</pre>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}只需要在关闭按钮上添加<code>data-dismiss="alert"</code>属性，按钮就可以自动实现alert提示信息的关闭功能。{{/i}}</p>
          <pre class="prettyprint linenums">&lt;a class="close" data-dismiss="alert" href="#"&gt;&amp;times;&lt;/a&gt;</pre>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>$().alert()</h4>
          <p>{{_i}}给所有指定的alerts提示信息都增加了关闭功能。如果需要在关闭时增加淡入淡出效果，务必给alerts提示信息增加<code>.fade</code>和<code>.in</code>这两个class。{{/i}}</p>
          <h4>.alert('close')</h4>
          <p>{{_i}}关闭alert.{{/i}}</p>
          <pre class="prettyprint linenums">$(".alert").alert('close')</pre>
          <h3>{{_i}}Events事件{{/i}}</h3>
          <p>{{_i}}Bootstrap的alert类预留了一些事件，以便于在操作alert时触发对应事件。{{/i}}</p>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 150px;">{{_i}}事件名称{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}close{{/i}}</td>
               <td>{{_i}}这个事件是当<code>close</code>方法被调用时就会触发。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}closed{{/i}}</td>
               <td>{{_i}}这个事件是当提示信息被关闭后就会触发。（在css动画完成后）{{/i}}</td>
             </tr>
            </tbody>
          </table>
<pre class="prettyprint linenums">
$('#my-alert').bind('closed', function () {
  // {{_i}}do something…{{/i}}
})</pre>
        </div>
      </div>
    </section>



    <!-- Buttons
    ================================================== -->
    <section id="buttons">
      <div class="page-header">
        <h1>{{_i}}Buttons{{/i}} <small>bootstrap-button.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}About{{/i}}</h3>
          <p>{{_i}}比普通的按钮更强大。可以控制按钮的状态，或者创建一组按钮用来创建类似工具栏的UI组件。{{/i}}</p>
          <a href="assets/js/bootstrap-button.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}使用示例{{/i}}</h2>
          <p>{{_i}}使用buttons插件来控制按钮的状态和切换。{{/i}}</p>
          <table class="table table-bordered table-striped">
            <tbody>
             <tr>
               <td>{{_i}}Stateful{{/i}}</td>
               <td>
                  <button id="fat-btn" data-loading-text="loading..." class="btn btn-primary">
                    {{_i}}Loading State{{/i}}
                  </button>
                </td>
             </tr>
             <tr>
               <td>{{_i}}Single toggle{{/i}}</td>
               <td>
                  <button class="btn btn-primary" data-toggle="button">{{_i}}Single Toggle{{/i}}</button>
                </td>
             </tr>
             <tr>
               <td>{{_i}}Checkbox{{/i}}</td>
               <td>
                  <div class="btn-group" data-toggle="buttons-checkbox">
                    <button class="btn btn-primary">{{_i}}Left{{/i}}</button>
                    <button class="btn btn-primary">{{_i}}Middle{{/i}}</button>
                    <button class="btn btn-primary">{{_i}}Right{{/i}}</button>
                  </div>
               </td>
             </tr>
             <tr>
               <td>{{_i}}Radio{{/i}}</td>
               <td>
                  <div class="btn-group" data-toggle="buttons-radio">
                    <button class="btn btn-primary">{{_i}}Left{{/i}}</button>
                    <button class="btn btn-primary">{{_i}}Middle{{/i}}</button>
                    <button class="btn btn-primary">{{_i}}Right{{/i}}</button>
                  </div>
               </td>
             </tr>
            </tbody>
          </table>
          <hr>
          <h2>{{_i}}使用 bootstrap-button.js{{/i}}</h2>
          <p>{{_i}}通过javascript来启用buttons:{{/i}}</p>
          <pre class="prettyprint linenums">$('.tabs').button()</pre>
            <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}Data属性是button插件所必需设置的属性。查看下面不同类型的示例代码。{{/i}}</p>
<pre class="prettyprint linenums">
&lt;!-- {{_i}}添加data-toggle="button"属性来激活单个按钮的切换{{/i}} --&gt;
&lt;button class="btn" data-toggle="button"&gt;Single Toggle&lt;/button&gt;

&lt;!-- {{_i}}添加data-toggle="buttons-checkbox"属性来创建checkbox效果的按钮组{{/i}} --&gt;
&lt;div class="btn-group" data-toggle="buttons-checkbox"&gt;
  &lt;button class="btn"&gt;Left&lt;/button&gt;
  &lt;button class="btn"&gt;Middle&lt;/button&gt;
  &lt;button class="btn"&gt;Right&lt;/button&gt;
&lt;/div&gt;

&lt;!-- {{_i}}添加data-toggle="buttons-radio"属性来创建radio效果的按钮组{{/i}} --&gt;
&lt;div class="btn-group" data-toggle="buttons-radio"&gt;
  &lt;button class="btn"&gt;Left&lt;/button&gt;
  &lt;button class="btn"&gt;Middle&lt;/button&gt;
  &lt;button class="btn"&gt;Right&lt;/button&gt;
&lt;/div&gt;
</pre>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>$().button('toggle')</h4>
          <p>{{_i}}切换按钮状态，显示按钮激活后的样式。{{/i}}</p>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>
            {{_i}}你可以启用按钮的自动切换效果，在按钮上添加<code>data-toggle</code>属性即可。{{/i}}
          </div>
          <pre class="prettyprint linenums">&lt;button class="btn" data-toggle="button" &gt;…&lt;/button&gt;</pre>
          <h4>$().button('loading')</h4>
          <p>{{_i}}设置按钮的状态为loading状态 - 禁用button并同时将按钮文字修改为loading文字。Loading文字可以通过button元素的<code>data-loading-text</code>属性来设置。{{/i}}
          </p>
          <pre class="prettyprint linenums">&lt;button class="btn" data-loading-text="loading stuff..." &gt;...&lt;/button&gt;</pre>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>
            {{_i}}<a href="https://github.com/twitter/bootstrap/issues/793">Firefox在页面刷新时会保持disbaled的状态</a>. 一种解决方案是使用<code>autocomplete="off"</code>.{{/i}}
          </div>
          <h4>$().button('reset')</h4>
          <p>{{_i}}重置按钮状态 - 将按钮文字修改为原来的文字。{{/i}}</p>
          <h4>$().button(string)</h4>
          <p>{{_i}}重置按钮状态 - 将按钮文字修改为定义的data属性文本内容。{{/i}}</p>
<pre class="prettyprint linenums">&lt;button class="btn" data-complete-text="finished!" &gt;...&lt;/button&gt;
&lt;script&gt;
  $('.btn').button('complete')
&lt;/script&gt;</pre>
        </div>
      </div>
    </section>



    <!-- Collapse
    ================================================== -->
    <section id="collapse">
      <div class="page-header">
        <h1>{{_i}}Collapse折叠效果{{/i}} <small>bootstrap-collapse.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于{{/i}}</h3>
          <p>{{_i}}用来创建基本的折叠样式，并可灵活的设置各种如手风琴、导航等折叠组件效果。{{/i}}</p>
          <a href="assets/js/bootstrap-collapse.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}Accordion手风琴效果示例{{/i}}</h2>
          <p>{{_i}}使用collapse插件，实现一个简单的accordion风格的组件:{{/i}}</p>

          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  {{_i}}Collapsible Group Item #1{{/i}}
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  {{_i}}Collapsible Group Item #2{{/i}}
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                  {{_i}}Collapsible Group Item #3{{/i}}
                </a>
              </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>


          <hr>
          <h2>{{_i}}使用 bootstrap-collapse.js{{/i}}</h2>
          <p>{{_i}}通过javascript启用:{{/i}}</p>
          <pre class="prettyprint linenums">$(".collapse").collapse()</pre>
          <h3>{{_i}}Options{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}名称{{/i}}</th>
               <th style="width: 50px;">{{_i}}类型{{/i}}</th>
               <th style="width: 50px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}parent{{/i}}</td>
               <td>{{_i}}selector{{/i}}</td>
               <td>false</td>
               <td>{{_i}}如果有设置这个selector的话，那么当可折叠的项目显示时，在这指定parent下的所有可折叠的项目都会隐藏。(与传统的accordion效果类似){{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}toggle{{/i}}</td>
               <td>{{_i}}boolean{{/i}}</td>
               <td>true</td>
               <td>{{_i}}调用时切换折叠元素{{/i}}</td>
             </tr>
            </tbody>
          </table>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}只需要在元素上添加<code>data-toggle="collapse"</code>和<code>data-target</code>来自动分配指定的折叠元素。<code>data-target</code>属性接受一个css选择器用来指定应用折叠效果的元素。 务必确认给折叠的元素添加class <code>collapse</code>。如果你想设置为默认打开，可以添加额外的class <code>in</code>.{{/i}}</p>
          <pre class="prettyprint linenums">
&lt;button class="btn btn-danger" data-toggle="collapse" data-target="#demo"&gt;
  {{_i}}simple collapsible{{/i}}
&lt;/button&gt;

&lt;div id="demo" class="collapse in"&gt; … &lt;/div&gt;</pre>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>
            {{_i}}如果要在控制折叠效果的元素上增加如手风琴效果的一组元素的话，请添加data属性<code>data-parent="#selector"</code>。具体可以查看示例中的效果。{{/i}}
          </div>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>.collapse({{_i}}options{{/i}})</h4>
          <p>{{_i}}使得内容作为一个可折叠的元素。接受可选的参数options <code>object</code>.{{/i}}
<pre class="prettyprint linenums">
$('#myCollapsible').collapse({
  toggle: false
})</pre>
          <h4>.collapse('toggle')</h4>
          <p>{{_i}}切换显示或隐藏折叠元素。{{/i}}</p>
          <h4>.collapse('show')</h4>
          <p>{{_i}}显示折叠元素。{{/i}}</p>
          <h4>.collapse('hide')</h4>
          <p>{{_i}}隐藏折叠元素。{{/i}}</p>
          <h3>{{_i}}Events事件{{/i}}</h3>
          <p>
            {{_i}}Bootstrap的collapse类预留了一些事件，以便于在操作collapse时触发对应事件。{{/i}}
          </p>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 150px;">{{_i}}事件名称{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}show{{/i}}</td>
               <td>{{_i}}这个事件是当<code>show</code>方法被调用时就会触发。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}shown{{/i}}</td>
               <td>{{_i}}这个事件是当一个折叠元素被设置为对用户可见时就会触发。（在css动画完成后）。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}hide{{/i}}</td>
               <td>
                {{_i}}这个事件是当<code>hide</code>方法被调用时就会触发。{{/i}}
               </td>
             </tr>
             <tr>
               <td>{{_i}}hidden{{/i}}</td>
               <td>{{_i}}这个事件是当一个折叠元素被设置为对用户不可见时就会触发。（在css动画完成后）。{{/i}}</td>
             </tr>
            </tbody>
          </table>

<pre class="prettyprint linenums">
$('#myCollapsible').on('hidden', function () {
  // {{_i}}do something…{{/i}}
})</pre>
        </div>
      </div>
    </section>



     <!-- Carousel
    ================================================== -->
    <section id="carousel">
      <div class="page-header">
        <h1>{{_i}}Carousel{{/i}} <small>bootstrap-carousel.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于{{/i}}</h3>
          <p>{{_i}}一个通用的插件来用循环显示元素，类似旋转木马的效果。{{/i}}</p>
          <a href="assets/js/bootstrap-carousel.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}Carousel示例{{/i}}</h2>
          <p>{{_i}}查看下面的幻灯片效果。{{/i}}</p>
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                <div class="carousel-caption">
                  <h4>{{_i}}First Thumbnail label{{/i}}</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                <div class="carousel-caption">
                  <h4>{{_i}}Second Thumbnail label{{/i}}</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                <div class="carousel-caption">
                  <h4>{{_i}}Third Thumbnail label{{/i}}</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
          <div class="alert alert-info">
            <strong>{{_i}}注意！{{/i}}</strong>
            {{_i}}当使用这个carousel，记得把我们提供的示例图片换成你自己的。{{/i}}
          </div>
          <hr>
          <h2>{{_i}}Using bootstrap-carousel.js{{/i}}</h2>
          <p>{{_i}}Call via javascript:{{/i}}</p>
          <pre class="prettyprint linenums">$('.carousel').carousel()</pre>
          <h3>{{_i}}Options{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}名称{{/i}}</th>
               <th style="width: 50px;">{{_i}}类型{{/i}}</th>
               <th style="width: 50px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}interval{{/i}}</td>
               <td>{{_i}}number{{/i}}</td>
               <td>5000</td>
               <td>{{_i}}设置自动循环显示切换的时间。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}pause{{/i}}</td>
               <td>{{_i}}string{{/i}}</td>
               <td>"hover"</td>
               <td>{{_i}}当鼠标移动到图片上时暂定循环，移走时继续循环。{{/i}}</td>
             </tr>
            </tbody>
          </table>
          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}Data属性用来控制下一张、上一张。查看下面的示例结构。{{/i}}</p>
<pre class="prettyprint linenums">
&lt;div id="myCarousel" class="carousel"&gt;
  &lt;!-- {{_i}}Carousel items{{/i}} --&gt;
  &lt;div class="carousel-inner"&gt;
    &lt;div class="active item"&gt;…&lt;/div&gt;
    &lt;div class="item"&gt;…&lt;/div&gt;
    &lt;div class="item"&gt;…&lt;/div&gt;
  &lt;/div&gt;
  &lt;!-- {{_i}}Carousel nav{{/i}} --&gt;
  &lt;a class="carousel-control left" href="#myCarousel" data-slide="prev"&gt;&amp;lsaquo;&lt;/a&gt;
  &lt;a class="carousel-control right" href="#myCarousel" data-slide="next"&gt;&amp;rsaquo;&lt;/a&gt;
&lt;/div&gt;
</pre>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>.carousel({{_i}}options{{/i}})</h4>
          <p>{{_i}}初始化carousel，可选参数options <code>object</code>， 开始循环效果。{{/i}}</p>
<pre class="prettyprint linenums">
$('.carousel').carousel({
  interval: 2000
})
</pre>
          <h4>.carousel('cycle')</h4>
          <p>{{_i}}从左至右循环carousel的所有项目。{{/i}}</p>
          <h4>.carousel('pause')</h4>
          <p>{{_i}}停止carousel效果。{{/i}}</p>
          <h4>.carousel(number)</h4>
          <p>{{_i}}指定显示具体的某一项（从0开始，与数组类似）。{{/i}}</p>
          <h4>.carousel('prev')</h4>
          <p>{{_i}}显示上一项。{{/i}}</p>
          <h4>.carousel('next')</h4>
          <p>{{_i}}显示下一项。{{/i}}</p>
          <h3>{{_i}}Events事件{{/i}}</h3>
          <p>{{_i}}Bootstrap的carousel类预留了两个事件，以便于在操作carousel时触发对应事件。{{/i}}</p>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 150px;">{{_i}}事件名称{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
             <tr>
               <td>{{_i}}slide{{/i}}</td>
               <td>{{_i}}这个事件是当<code>slide</code>方法被调用时就会触发。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}slid{{/i}}</td>
               <td>{{_i}}这个事件是在carousel完成切换效果后触发。{{/i}}</td>
             </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>



    <!-- Typeahead
    ================================================== -->
    <section id="typeahead">
      <div class="page-header">
        <h1>{{_i}}Typeahead自动补全效果{{/i}} <small>bootstrap-typeahead.js</small></h1>
      </div>
      <div class="row">
        <div class="span3 columns">
          <h3>{{_i}}关于{{/i}}</h3>
          <p>{{_i}}这是一个可以使用任何表单元素快速创建优雅的自动补全效果的插件，插件使用很简单，也很容易扩展。{{/i}}</p>
          <a href="assets/js/bootstrap-typeahead.js" target="_blank" class="btn">{{_i}}下载文件{{/i}}</a>
        </div>
        <div class="span9 columns">
          <h2>{{_i}}示例{{/i}}</h2>
          <p>{{_i}}在下面的输入框中输入文字来看typeahead的结果。{{/i}}</p>
          <div class="well">
            <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
          </div>
          <hr>
          <h2>{{_i}}使用 bootstrap-typeahead.js{{/i}}</h2>
          <p>{{_i}}通过javascript调用typeahead:{{/i}}</p>
          <pre class="prettyprint linenums">$('.typeahead').typeahead()</pre>
          <h3>{{_i}}Options{{/i}}</h3>
          <table class="table table-bordered table-striped">
            <thead>
             <tr>
               <th style="width: 100px;">{{_i}}名称{{/i}}</th>
               <th style="width: 50px;">{{_i}}类型{{/i}}</th>
               <th style="width: 100px;">{{_i}}默认值{{/i}}</th>
               <th>{{_i}}描述{{/i}}</th>
             </tr>
            </thead>
            <tbody>
              <tr>
               <td>{{_i}}source{{/i}}</td>
               <td>{{_i}}array{{/i}}</td>
               <td>[ ]</td>
               <td>{{_i}}用来查询的数据源。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}items{{/i}}</td>
               <td>{{_i}}number{{/i}}</td>
               <td>8</td>
               <td>{{_i}}下拉菜单中最多显示多少项。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}matcher{{/i}}</td>
               <td>{{_i}}function{{/i}}</td>
               <td>{{_i}}case insensitive{{/i}}</td>
               <td>{{_i}}这个方法是用来确认本次查询是否匹配某个项。只接受一个参数<code>item</code>，是用来检测本次查询的项。可以使用<code>this.query</code>可以获取当前查询。如果查询匹配的话，则返回<code>true</code>。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}sorter{{/i}}</td>
               <td>{{_i}}function{{/i}}</td>
               <td>{{_i}}exact match,<br> case sensitive,<br> case insensitive{{/i}}</td>
               <td>{{_i}}这个方法是用来对自动补全的结果进行排序。只接受一个参数<code>items</code>，并且与typeahead的实例拥有同样的作用域。可以使用<code>this.query</code>可以获取当前查询。{{/i}}</td>
             </tr>
             <tr>
               <td>{{_i}}highlighter{{/i}}</td>
               <td>{{_i}}function{{/i}}</td>
               <td>{{_i}}highlights all default matches{{/i}}</td>
               <td>{{_i}}这个方法用来高亮显示自动补全的结果。只接受一个参数<code>items</code>，并且与typeahead的实例拥有同样的作用域。应该返回html。{{/i}}</td>
             </tr>
            </tbody>
          </table>

          <h3>{{_i}}Markup结构{{/i}}</h3>
          <p>{{_i}}通过给元素添加data属性来实现typeahead效果。{{/i}}</p>
<pre class="prettyprint linenums">
&lt;input type="text" data-provide="typeahead"&gt;
</pre>
          <h3>{{_i}}Methods方法{{/i}}</h3>
          <h4>.typeahead({{_i}}options{{/i}})</h4>
          <p>{{_i}}给input元素初始化typeahead效果。{{/i}}</p>
        </div>
      </div>
    </section>